<h2>My balance</h2>
<p><strong>Current balance:</strong> $<%= @account.balance %></p>
<p><strong>Your CVU:</strong> <%= @account.cvu %></p>

<h3>Movements</h3>
<table border="1" cellpadding="5">
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Ammount</th>
    <th>Description</th>
  </tr>
  <% @transactions.each do |tx| %>
    <tr>
      <td><%= tx.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      <td><%= tx.transaction_type %></td>
      <td>$<%= tx.amount %></td>
      <td><%= tx.description %></td>
    </tr>
  <% end %>
</table>